<div class="container">
  <div style="text-align:left">
    <h2> {{title}} </h2>
  </div>

  <div class="inputRow">
    <div class="inputLabel">
      <label>Title:</label>
    </div>
    <div class="inputTextBox">
      <input id="title" [(ngModel)]="workOut.title" />
    </div>
  </div>
  <div class="inputRow">
    <div class="inputLabel">
      <label>Note:</label>
    </div>
    <div class="inputTextBox">
      <textarea id="note" name="note" [(ngModel)]="workOut.notes" required></textarea>
    </div>
  </div>
  <div class="inputRow">

    <div class="inputLabel">
      <label>Category:</label>
    </div>
    <div class="inputTextBox">
      <select name="categoryList" (change)="onSelect()" [(ngModel)]="selectedCategory.id">
        <option *ngFor="let category of categoryList" value={{category.id}}>{{category.name}}</option>
      </select>
    </div>
  </div>
  <div class="inputRow">
    <button type="button" class="btn btn-success" (click)="update()">Update</button>
    <button type="button" class="btn btn-danger" [routerLink]="['/view-all']">Cancel</button>
  </div>
</div>